.main-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: #000046;
    background: linear-gradient(to right, #1CB5E0, #085078);

}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    width: 100%;
    padding: 10px 40px;

    .info {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .title {
        font-size: 3rem;
        padding: 0;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
    }

    p {
        text-align: justify;
        margin-bottom: 10px;
        font-size: large;
    }

    .register {
        margin-top: 10px;
    }
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 70%;
    }
}

@media screen and (max-width: $mobile) {
    .main-page {
        flex-direction: column-reverse;
        padding-top: 100px;
    }

    .right-side {
        justify-content: center;
    }

    .left-side {
        .info {
            width: 90%;
        }
    }
}