.portfolio-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 10px;

    h2 {
        font-size: xx-large;
        width: 100%;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        margin-top: 10px;
    }

    .desc {
        width: 60%;
        margin: 20px;
    }

    img {
        width: 70%;
        border: 16px solid #262626;
        border-radius: 10px;
    }
}