$mobile:500px;

.portfolio-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 10px;

    h2 {
        font-size: 3rem;
        width: 100%;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        margin: 20px;
    }

    .desc {
        width:60%;
        margin-left: 120px;
        margin-bottom: 50px;

        .flexbox-container{
            display: flex;
            align-items: center;
        }

        .flexbox-item{
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .item-2{
            width: 40%;
            margin: 20px;
        }
        .item-1{
            width: 10%;
            margin: 20px;
        }
    }

    .flexbox-container-react{
        width: 82%;
        display: flex;
        margin-bottom: 7%;

        .flexbox-item-react{
            width: 70%;
        }
        .flexbox-item-img{
            margin: 30px;
            width: 70%;            
        }
    }

    img {
        width: 100%;
        border: 16px solid #262626;
        border-radius: 10px;
    }

    .register {
        /* width: 30%; */
        margin-top: 30px;
        color: #fff;
        background-color: #000;
    }
}

@media screen and (max-width: $mobile) {
    .portfolio-info {
        /* img {
            width: 95%;
            border-width: 10px;
        } */
        .flexbox-container-react{
            width: 82%;
            display: inline;
    
            .flexbox-item-react{
                width: 100%;
            }
            .flexbox-item-img{
                margin: 10px;    
                width: 100%;      
            }
        }
        
        img {
            width: 95%;
            border-width: 10px;
        }

        .desc {
            width: 100%;
            margin-left: 0px;   

        }
        h2{
            font-size: 1.8rem;
        }
        h3{
            font-size: 0.9rem;
        }

    }
}